{% extends 'layout.html' %}

{% block body %}

<body class="about">

    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="about">About</a>
        <a href="contact">Contact</a>
        </div>


        <div class="main-content">
            
        <header>
            <h1>Grocelicious</h1>
            <p>Your Ultimate Online Grocery Price Comparison Tool</p>
        </header>
        <main>
            <section class="about-section">
                <h2>About Us</h2>
                <p>Grocelicious is a web scraping app that provides you with a hassle-free way to compare prices between two leading online grocery stores, Dunzo and Blinkit. Our mission is to help you save time and money on your grocery shopping by making it easy to find the best deals.</p>
            </section>
            <section class="about-section">
                <h2>How it Works</h2>
                <p>Using Grocelicious is simple. Just enter the name of the product you are looking for, and we will provide you with a list of prices from both Dunzo and Blinkit. You can then choose the store that offers the best deal and save money on your grocery shopping.</p>
            </section>
            <section class="about-section">
                <h2>Features</h2>
                <ul>
                    <li>Compare prices between two leading online grocery stores, Dunzo and Blinkit</li>
                    <li>Save time and money on your grocery shopping</li>
                    <li>Hassle-free and easy to use</li>
                    <li>No need to visit multiple stores or websites to find the best deal</li>
                    <li>Regularly updated prices to ensure accuracy</li>
                </ul>
            </section>
            <section class="about-section">
                <h2>Contact Us</h2>
                <p>If you have any questions or feedback, please feel free to contact us by email at <a href="mailto:contact@grocelicious.com">contact@grocelicious.com</a>.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2023 Grocelicious. All rights reserved.</p>
        </footer>
        
        </div>

</body>

{% endblock %}

