{% extends 'layout.html' %}

{% block body %}



<body class="home">
  
    <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>
    </div>

    <div class="search-container">
        <form action="/submit">
        <input type="text" placeholder="Search.." id="search-box" name="item_name">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div class="loading">
        <h3>Getting the latest prices..</h3>
        <img src="{{ url_for('static', filename='loadingimg.gif') }}" alt="">
    </div>

    
    <div class="error">
        <h3>Error loading results.</h3>
    </div>

    <div class="results"></div>

    

    <script src="{{ url_for('static', filename='home.js') }}"></script>

</body>

{% endblock %}
